#thumbNailBar {
    margin: 0 auto;
}
.thumbnailCon {
    height: 200px;
    float: left;
    /* border: 1px solid black; */
    position: relative;
}
.addThumbnail {
    width: 150px;
}
.circleCon {
    margin-top: 55px;
    margin-left: 5px;
    width: 145px;
    height: 40px;
    background-color: #a8a8a8;
    border-radius: 90px;
    cursor: pointer;
    position: relative;
    left: -115px;
    transition-duration: 0.3s;
}
.addThumbnail:hover .circleCon {
    left: 0;
}

.circleCon svg {
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
}
.circleCon p {
    color: #1d1d1d;
    font-weight: bold;
    font-size: 12pt;
    float: left;
    margin-top: 0.7em;
    margin-left: 11px;
}
.thumbnails {
    background-color: grey;
}
.clickCatcher {
    position: relative;
    margin: 0 auto;
}
.thumbnailBtnCon {
    width: 200px;
    margin: 0 auto;
    height: calc(300px - 225px);
    display: flex;
}
.thumbnailBtn {
    float: left;
    margin: 5px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.thumbnailBtn > svg {
    margin: 0 auto;
    display: block;
}
.thumbnailBtn:hover {
    background-color: #2e2e2e;
}
.thumbnailBtn.phoneIconRotate > svg {
    transform: rotate(113deg);
}
.thumbNailToolbar {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: calc(225px - 2.75em);
    width: 100%;
}
.thumbnailFSCon:fullscreen > .thumbNailToolbar {
    top: calc(100% - 2.75em);
}
.fullBrowserScreen > .thumbNailToolbar {
    top: calc(100% - 2.75em);
    bottom: 0;
}
.fsControlCon {
    opacity: 0;
    padding-top: 0.5em;
    padding-right: 0.5em;
    float: right;
    transition-duration: 0.33s;
    cursor: pointer;
}
.fsControlCon:hover {
    opacity: 1;
}
.fswrapper {
    display: inline;
}
.thumbNail_title {
    padding-left: 0.5em;
    height: 2em;
    line-height: 2em;
    width: 65%;
    float: left;
}

.modalClickScreen.thumbnailModal {
    position: fixed;
}

.popupstylePW.popupstyleThumbnail {
    font-size: 10pt;
    width: 450px;
    left: calc(50% - 225px);
}
.popupstylePW.popupstyleThumbnail p {
    margin-bottom: 0.5em;
}
.popupstylePW.popupstyleThumbnail input {
    padding: 0.5em;
    background-color: black;
    width: 280px;
    border: solid thin #525252;
    color: #eeeeee;
    border-radius: 4px;
    z-index: 3;
}
.popupstylePW.popupstyleThumbnail input:focus,
.popupstylePW.popupstyleThumbnail input:active {
    outline: none;
    border-color: #547ff9;
}

.popupstylePW.popupstyleThumbnail .spinner {
    height: 1.5em;
    width: 1.5em;
}
.addBtn {
    margin-top: 1em;
    width: 8em;
    border-radius: 7px;
    height: 2em;
    font-weight: bold;
    background-color: #3a3a3a;
    outline: none;
    border: 2px solid #3a3a3a;
    color: rgb(206, 206, 206);
    cursor: pointer;
}
.copyBtn {
    width: 2em;
    margin-left: 5px;
    padding-left: 4px;
    padding-top: 1px;
    margin-top: 0px;
}
.closeIcon {
    margin: 0;
    float: right;
    margin-top: -1.5em;
    margin-right: -0.5em;
    cursor: pointer;
}
.copiedSplash {
    display: inline-block;
    border: 2px solid grey;
    border-radius: 7px;
    padding: 4px;
    position: absolute;
    right: 1em;
    bottom: 0.7em;
    background-color: black;
}
.thumbnailIndexBtn {
    height: 200px;
    float: left;
    width: 30px;
    /* cursor: pointer; */
}
.thumbnailIndexBtn svg {
    margin-top: 89px;
    margin-left: 4px;
}
.leftIndexBtn svg {
    transform: rotate(270deg);
}
.rightIndexBtn svg {
    transform: rotate(90deg);
}
